.my-season-display
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.winter
{
    background-color: aliceblue;
}

.summer
{
    background-color: orange;
}